<div class="h-full flex flex-col">
    <app-header class="flex-1"></app-header>
    <div *ngIf="loading" class="grid place-content-center h-full w-full">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!loading" class="grid grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-20 overflow-auto p-16 justify-center">
        <div *ngFor="let show of shows;">
            <div class="grid grid-cols-2 gap-8 w-2/3">
                <div>
                    <img src="{{show.movie?.displayPic}}" alt="{{show.movie?.name}}" class="h-full">
                </div>
                <div class="flex flex-col">
                    <div>
                        <div>
                            {{show.id}}
                        </div>
                        <div>
                            <span class="text-lg font-bold">{{show.movie?.name}}</span>
                        </div>
                    </div>
                    <div>
                        <div>
                            <span class="text-base">{{show.hall?.name}}</span>
                        </div>
                        <div>
                            <b>Hall</b> : <span class="text-base">{{show.date | date}}</span>
                        </div>
                        <div>
                            <b>Total</b> : <span class="text-base"> {{show.hall?.capacity}}</span>
                        </div>
                        <div>
                            <b>Reserved</b> : <span class="text-base">{{show.reservedSeats?.length}}</span>
                        </div>
                    </div>
                    <div class="flex-1"></div>
                    <div>
                        <button mat-raised-button color="primary" (click)="reserveTicket(show.id)">Reserve
                            Ticket</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>